/* 1. Estilos Globales, Fondo y navegacion*/
html, body {
    height: 100%; 
}

.musicafondo{
    background-image: url(/img/musicafondo.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    min-height: 100vh; 
}

.fondoderry{
    background-image: url(/img/derryfondo.jpg);
}

.personajesfondo{
    background-image: url(/img/personajesfondo.png);
}

.bgpremios{
    background-image: url(/img/premiosfondo.jpg);
}

.fondoabout{
    background-image: url(/img/fondoabout.png);

}

.fondoepisodios{
    background-image: url(/img/episodiosfondo.png);
}

.fondorecetas{
    background-image: url(/img/fondorecetas.jpg);

}

.fanartfondo{
    background-image: url(/img/fanartfondo.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    min-height: 100vh; 
}

.fondotrivia{
    background-image: url(/img/play.png);

}

.elencofondo{
    background-image: url(/img/elencofondo.png);

}

.fondorecurrentes{
    background-image: url(/img/recurrentesfondo.png);
}

.fondoprincipales{
    background-image: url(/img/principalesfondo.jpg);

}

.fondo-imagen{
    background-image: url(/img/tv4.png);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    min-height: 100vh; 
}
@media (max-width: 430px) {
    .fondo-imagen {
        background-image: url(/img/tv5.png);
    
    }
}

.fondothetroubles{
    background-image: url(/img/fondothetroubles.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    min-height: 100vh;
}

.contactofondo {
    background-image: url(/img/ffondo.jpg);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center; 
    min-height: 100vh;
}

@media (max-width: 430px) {
    .contactofondo {
        background-image: url(/img/contactofondo.png);
    
    }
}




/*iframe width*/

.colaboraciones-spotify iframe{
    width: 100%;
}

/* GALERIA DE FOTOS --------------------------------------------------------------*/
.album-img {
    max-width: 50%;
    height: auto;

}

.galeria-miniatura {
    display: block; 
    height: 300px; 
    overflow: hidden; 
    transition: transform 0.3s ease-in-out;
}

.galeria-miniatura img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.3s ease-in-out;
}

.galeria-miniatura:hover img {
    transform: scale(1.05);
}


